[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim-abolish"]
	path = vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim-ansible-yaml"]
	path = vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
